html, body, div, aside, footer {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
}

body {
    height: 100vh;
    margin: 0 auto;
}

#whole {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#s1 {
    background-color: red;
    flex-basis: 100%;
}

#s2 {
    background-color: blue;
    flex-basis: 100%;
}

#s3 {
    background-color: green;
    flex-basis: 100%;
}

#s4 {
    background-color: purple;
    flex-basis: 100%;
}

#s5 {
    background-color: yellow;
    flex-basis: 100%;
}