#container {
        width: 80%;
        height: 90vh auto;
        border: 4px groove pink;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-flow: column;
        margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 15px auto;
    padding: 5px; 
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin: 15px auto;
    padding: 5px;
}

main {
    border: 2px groove red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 0;
}
