html, body, header, div, footer {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
}

header, footer {
    height: 150px;
    border: 10px solid red;
}

header {
    background-color: yellow;
}

footer {
    background-color: blue;
    clear: left;
}

main {
    border: 10px solid black;
    height: 250px;
}

div {
    height: 250px;
    border: 5px solid green;
}

#left {
    width: 20%;
    background-color: blueviolet;
    float: left;
}

#right {
    width: 80%;
    background-color: chocolate;
    float: left;
}