body {
    width: 75%;
    margin: 0 auto;
}

p {
    margin: 20px;
}

p::first-letter {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    line-height: 1;
}